<h2><%= h @exercise_group.course_instance.course.name %> <%=h @exercise_group.course_instance.name %></h2>

<h4> <%=h @exercise_group.name %> </h4>


<%= link_to 'Back', course_course_instance_path(@exercise_group.course_instance.course, @exercise_group.course_instance) %>
