<h1><%= h @course.name %></h1>

<p><%= h @course.description %></p>


<h2>Course instances:</h2>

<% if @course.course_instances.any? %>

<ul>
<% @course.course_instances.each do |course_instance| %>
    <li><%= link_to course_instance.name, course_course_instance_path(@course, course_instance) %></li>
<% end %>
</ul>
<% else %>
	<p>No course instances.</p>
<% end %>


<%= link_to 'Back to main page', courses_path %>

